<!DOCTYPE html>
<html lang="en">
<head>
    <title>Permission Changer 3000</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <section class="galaxy-wrapper">
        <div class="container">
            <div class="content">
                <h2>Welcome to Permission Changer 3000</h2>
                <form action="/submit" method="post" class="form-container">
                    <label for="inputField">Email</label><br>
                    <input type="email" id="inputField" name="inputField" class="email-input" required><br>

                    <label for="dropdown">Permission</label><br>
                    <select id="dropdown" class="dropdown-menu" name="option">
                        <option value="viewer">Viewer</option>
                        <option value="editor">Editor</option>
                        <option value="admin">Admin</option>
                    </select>
                    <div style="margin-top: 15px; margin-bottom: 10px;">
                        <input type="submit" value="Submit" class="submit-button">
                    </div>

                </form>
            </div>
        </div>
        <canvas id="galaxy" width="100%" height="100%"></canvas>
    </section>
</body>
</html>
