<!DOCTYPE html>
<html>
<head>
    <title>Permission Changer 3000</title>
</head>
<body>
    <h1>Welome to Permission Changer 3000</h1>
    <form action="/submit" method="post">
        <label for="inputField">Eneter yout email::</label>
        <input type="text" id="inputField" name="inputField" required>
        
        <p>Select an option:</p>
        <input type="radio" id="option1" name="option" value="viewer" required>
        <label for="option1">Viewer</label><br>
        <input type="radio" id="option2" name="option" value="editor">
        <label for="option2">Editor</label><br>
        <input type="radio" id="option3" name="option" value="admin">
        <label for="option3">Admin</label><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
